
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-common {
  font-family: "Inter", sans-serif;

}
body{
    margin: 0;
    padding: 0;
    background-color: #1A0B2E;
}
/* common style */
.header_bg {
    background-color: #1A0B2E;
}

.display_flex {
    display: flex;
}

.common_button{
    border-radius: 20px;
    padding: 12.5px 40px 12.5px 16px;
    color: #ffff;
    background:linear-gradient( to right, #F7E93F,#FB09B4,#9100F8);
}

.greed_bg{
     background-color: #1A0B2E ;
}

.common_title{
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    margin-left: 40px;
    margin-bottom: 16px;
}

.common_para {
    font-size: 1rem;
    color: white;
    margin-left: 40px;
    line-height: 24px;
    
}
/* navbar style */
.navbar{
    justify-content: space-around;
    max-width: 1920px;
    align-items: center;
   
   height: 5.75rem;
   border-bottom: 1px solid rgb(25, 36, 64);
}
.navbar .company_name .wave{
    font-size: 2.5rem;
    background: linear-gradient( to top, #F7E93F,#FB09B4,#9100F8);
    
 
   

   
   
}
.navbar .company_name .tech{
    font-size: 2.5rem;
    color: white;
    
}
.navbar_menu{
    list-style: none;
}
.navbar_menu .nav_li .nav_link{
    color: white;
    text-decoration: none;
    margin-right: 32px;
}


/* hero section starts */

.hero_section{
display: flex;
    max-width: 1920px;
    justify-content: center;
    margin-top: 100px;
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}
.hero_circle{
       position: relative;
       top: 90px;
}
.hero_speaker{
    position: relative;
    left: 120px;
    top: -160px;
}
.hero{
    

}

/* hero description */
.hero_dec{
  
    max-width: 1920px;
    justify-content: center;  
   margin-top: 40px;
   text-align: center;
   
}
.hero_btn{
    display: flex;
    max-width: 1920px;
    justify-content: center;
    gap: 8px;
}
.description h1{
    color: white;
    font-size: 5.8rem;
    font-weight: 800;
}
.description p{
    color: white;
    margin-top: 8px;
    margin-bottom: 24px;
}
.spotify button{
    border-radius: 30px;
    padding: 12.5px 20px 12.5px 48px;
    color: white;
    background:linear-gradient( to right, #F7E93F,#FB09B4,#9100F8);
    border: none;
}
.subscribe button{
    border-radius: 30px;
    padding: 12.5px 20px 12.5px 48px;
    color: #00FF88;
    background:linear-gradient( to right, #F7E93F,#FB09B4,#9100F8);
    border: none;
    border: 1px solid #00FF88;
    background: transparent;
    
}

/* about section start */

.About{
    max-width: 1920px;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}
.podcust h1{
    font-size: 2.85rem;
    color: white;
}
.podcust p{
    font-size: 1rem;
    color: white;
}
.card h1{
    color: #00FF88;
}

.progress_card .card{
    border: 1ps solid red;
}

 hr{
    background-color: #5a4c6c;
    height: .3px;
    border: none;
    width: 50%;
    margin-top: 80px;
   
}

.progress_card .card{
    width: 300px;
}
.progress_card{
    max-width: 1920px;
    display: flex;
    gap: 80px;
    justify-content: center;
    margin-top: 80px;
}

/* greed section  */

.greed_section{
  padding: 220px 200px 120px 200px; 
  background-color: #230E3D;
}
.grid_ittle{
    
    text-align: center;
}
.greed_view{

}
.grid_container{
    max-width: 1920px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    
   
}
.box{
    color: white;
    background-color: #1A0B2E ;
    border-radius: 10px;
}

.a_side{
    grid-row: span 2;
   background-color: #1A0B2E ;
    width: 380px;
    height: 480px;
    border-radius: 10px;
}
.mobile_friendly{
grid-column: span 2;
border-radius: 10px;
}
.Global_Community{
    grid-column: span 2;
    border-radius: 10px;
}
.Exclusive_Interviews{
    grid-column: span 2;
    border-radius: 10px;
}

.grid_ittle h1{
    color: white;
}

.grid_container .audio{
    width: 300px;
}
.audio h4{
    color: white;
    font-size: 1.5rem;
    margin-left: 40px;
}
.audio{
    text-align: center;
    justify-content: center;
}

.a_side img{
    margin-top: 112px;
    margin-left: 45px;
    width: 30px;
}

.audio p{
    color: #FFFFFF;
    font-size: 1rem;
    margin-left: 40px;
    font-weight: 700;
}

.mobile_friendly .mobile img{
    padding: 42px 0px 0px 50px ;
    width: 30px;
    
}
.Global_Community img{
    padding: 42px 0px 0px 50px ;
    width: 30px;
    
}
.Exclusive_Interviews img{
    padding: 42px 0px 0px 50px ;
    width: 20px;
    
}
.box img{
    padding: 42px 0px 0px 50px ;
    width: 30px;
    
}

/* featured section */

.featured_sec{
    max-width: 1920px;
    justify-content: center;
    display: flex;
}

.featured_card_container h2{
    color: white;
    text-align: center;
}

.featured_card{
    display: flex;
    gap: 30px;
}
.featured_card_container{
    padding: 120px 200px 120px 200px;
}
 .featured_sec{
    background-color: #1A0B2E;
 }
 .featured_card .video_card{
    border-radius: 20px;
     background-color: #250D44;
    width: 100%;
    
 }
 .video_card h4{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;

 }
 .video_desc{
    padding: 20px;
 }

 .video_card p{
    color: white;
    text-align: center;
 }

 .card_footer{
    margin-left: 25px;
    margin-bottom: 25px;
 }

 .card_footer .minuit{
    color: #00FF88;
    margin-left: 10px;
 }

 /* the host sec */

 .the_host{
    

 }
 .the_host h1{
    text-align: center;
    color: white;
    font-weight: 700;
    
 }

 .host_details{
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: center;
    gap: 24px;
   
    
 }
 .host_desc{
    max-width: 50%;
 }

 .social{
    display: block;
 }
 .the_host_final{
    background-color: rgba(53, 17, 101, 0.4);
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 20px;
    margin-top: 40px;
    height: 280px;
 }
 .social{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-right: 430px;
    
 }

 .host_img img{
    margin-top: 48px;
 }
  .host_desc{
    margin-top: 48px;
 }
 .person_name h2{
    color: white;
    font-size: 2rem;
    font-weight: 700;
 }
 .person_name p{
    color: white;
    font-size: 1rem;
    
 }

 /* footernsec style */
 .footer_sec{
    margin-top: 120px;
    max-width: 1920px;
    justify-content: center;
    align-items: center;
 }
.footer_title img{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 120px;
}
.footer_social{
    max-width: 1920px;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 30px;
    margin-top: 32px;
}

.social_tag{
    color: white;
}
.all_reghts p{
    color: white;
    text-align: center;
    margin-top: 32px;
}
/* for mobile responsive style */
@media screen and (max-width:576px) {

    .navbar{
        flex-direction: column;
        gap: 20px;
    }
   
.description h1{
    font-size: 2rem;
}
.description p{
    font-size: 1.2rem;
}
.hero_btn{
    flex-direction: column;
}
.about_details{
    padding: 20px;
    text-align: center;
}
.progress_card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   
    font-size: 1.2rem;
}
.navbar{
    margin-bottom: 100px;
}
.navbar .navbar_menu{
    flex-direction: column;
}
.description {
    padding: 50px;
}
.grid_container{
    grid-template-columns: repeat(1, 1fr);
}
.grid_ittle{
    width: 100%;
    text-align: center;
}
}